<div class="recipe-page">
  <div class="top-bar">
    {{#link-to 'search.index' class='button arrow-left'}}
      search
    {{/link-to}}
    <span class="title">Recipe</span>
    <div class="space-small right"></div>
  </div>

  {{#if images}}
    {{#image-loader class='food-image-container'}}
      <img class='background' {{bind-attr src=images.blured}} alt="">
      <div class="background-overlay"></div>
      <img class='forground' {{bind-attr src=images.original}} alt="">
    {{/image-loader}}
  {{/if}}

  <div class="content">
    <h1>{{model.name}}</h1>

    <div class='main-content'>
      <div class="ingredients">
        <div class='ingredients-title'>Ingredients</div>
        {{#each ingredient in model.ingredientsDetail}}
          {{#if ingredient.title}}
            <div class='ingredients-sub-title'>{{ingredient.title}}</div>
          {{/if}}
          <ol>
            {{#each item in ingredient.ingredients}}
              <li>{{{item}}}</li>
            {{/each}}
          </ol>
        {{/each}}
      </div>

      <div class="tag-container">
        {{#each ingredient in model.ingredients}}
          <div class='tag tag-existing'>{{ingredient}}</div>
        {{/each}}
      </div>
    </div>

    <div class='instruction'>
      {{#each paragraph in model.instructions}}
        <p>{{paragraph}}</p>
      {{/each}}
    </div>
  </div>

</div>
